*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #607d8bd4;
}
form input{
    margin-top: 30px;
    outline: none;
    padding: 10px;
    display: block;
    background-color:rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 4px solid gray;
    font-size: larger;
}
#reset-form{
    
    height: 334px;
    width: 502px;
    position: absolute;
    top: 25%;
    left: 35%;
    bottom: 20%;
    right: 20%;
    background-color:#607d8b;
    border-radius: 20px;
    box-shadow: 1px 1px 30px #7b8b60 ;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
::placeholder{
    color: black; 
}
#submit{
    background-color:#0025ffa8;
    border-radius: 10px;
}
#top{
    
    margin: auto;
    width: 30%;
}
.top{
    margin-top: 108px;
}